<html>
<head>
<title>LDA Topic Modelling in JS</title>
<meta charset="utf-8">
<link type="text/css" href="css/ui-lightness/jquery-ui-1.8.21.custom.css" rel="stylesheet" />

<script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="js/jquery-ui-1.8.21.custom.min.js"></script>
<script src="js/jquery.tagcanvas.min.js" type="text/javascript"></script>
<script type="text/javascript" src="js/stopwords.js"></script>
<script type="text/javascript" src="js/lda.js"></script>
<script src="js/index/topicise.js"></script>

<link rel="icon" type="image/png" href="icon.png" />
<link rel="stylesheet" href="vendors/semantic-ui/semantic.min.css" />
<script src="vendors/semantic-ui/semantic.min.js"></script>
<script src="vendors/puli-post-message-api/puli-post-message-api.js"></script>
<script src="vendors/vue/vue.min.js"></script>
<script src="vendors/date-helper.js"></script>
<script src="vendors/js-xlsx/shim.js"></script>
<script src="vendors/js-xlsx/full/suppress_export.js"></script>
<script src="vendors/js-xlsx/full/jszip.js"></script>
<script src="vendors/js-xlsx/full/cpexcel.js"></script>
<script src="vendors/js-xlsx/full/xlsx.js"></script>

<script src="vendors/form-persist.js"></script>
<link rel="stylesheet/less" type="text/css" href="css/lda.less" />
<script>less = {env: 'production'};</script>
<script src="vendors/less/less.min.js"></script>

</head>
<body>
  
  <form id="app" 
        class="ui form"
        onsubmit="return false">
  
    <div class="ui grid container"
         v-show="displayPanel === 'topic'">
      
      <div class="row">
        <div class="sixteen wide column">
          <div class="field">
            <label>Input Text</label>
            <textarea 
              id="text"
              v-model="inputText"></textarea>
          </div>
          
          <div class="inline fields" id="menu">
            <div class="field">
              <label for="topics">Topics:</label>
            </div>
            <div class="field">
              <select 
                name="topics" id="topics" 
                class="data-auto-save"
                v-model="topicNumber">
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
              </select>
            </div>
            <div class="field">
              <input type="range" min="2" max="10" class="slider" v-model="topicNumber">
            </div>
          </div>
          
          <div class="field">
            <button 
              id="btnTopicise" 
              type="button" 
              onclick="btnTopiciseClicked();"
              class="ui fluid button">
              Analyse
            </button>
          </div>
        </div>
      </div>
          
      
      
      
      <div id="topiccloud"></div>
    </div>

    <!-- ============================================================= -->
    
    <div class="ui grid container display-panel"
         v-show="displayPanel === 'detail'">
      <div id="output" class="ui segment"></div>
    </div>

    <!-- ============================================================= -->

<div class="ui grid container display-panel"
     v-if="displayPanel === 'about'">
  <div class="ui raised segment">
  <div id="titletxt">LDA-Based Topic Modelling in Javascript</div>
  <div id="titledesc"><p>Topic modelling means detecting “abstract” topics from a collection of text documents. The most common text book technique to do that is using Latent Dirichlet Allocation. Simply put, LDA is a statistical algorithm which takes documents as input and produces a list of topics. One catch is that you have to tell it how many topics you want. There’s much more to it but since this is not a tutorial post, I will stop here. (If you are interested in how it works, read the references given on the wiki page.)</p>
  <p><a href="https://github.com/awaisathar/lda.js">Here's</a> a javascript version of LDA, based on my no-longer-functioning <a href="http://chaoticity.com/lda-based-topic-modelling-in-javascript/">earlier work</a>. For testing, I use a subset of the SMS Spam Corpus available <a href="http://www.dt.fee.unicamp.br/~tiago/smsspamcollection/">here</a> (and thus take no responsibility of the inappropriateness of the text within :) ). Each topic is represented as a word cloud; the larger a word, the more weight it has in the topic. The source sentences are displayed again with a bar which shows the percentage distribution of topics for that sentence. Hovering on each area in the bar would show you the words in the topic. You can of course replace it with anyother text, change the number of topics using the slider, and press the 'Analyse' button to see it work.  </p></div>
  </div>
</div>

<!-- ============================================================= -->
<div class="ui inverted three item bottom fixed menu">
  <a class="item"
     v-bind:class="{'active': (displayPanel === 'topic')}"
     v-on:click="displayPanel = 'topic'">
    <i class="file alternate icon"></i>
    Topic
  </a>
  <a class="item"
     v-bind:class="{'active': (displayPanel === 'detail')}"
     v-on:click="displayPanel = 'detail'">
    <i class="cogs icon"></i>
    Detail
  </a>
  <a class="item"
     v-bind:class="{'active': (displayPanel === 'about')}"
     v-on:click="displayPanel = 'about'">
    <i class="question icon"></i>
    About
  </a>
</div>

<div class="loading-modal" 
     v-if="processOutputWait">
  <img src="css/loading.svg" />
</div>

</form>
  
  <script src="vue-app.js"></script>

</body>
</html>