<html>
<head>
<title>LDA Topic Modelling in JS</title>
<meta charset="utf-8">
<link type="text/css" href="css/ui-lightness/jquery-ui-1.8.21.custom.css" rel="stylesheet" />

<script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="js/jquery-ui-1.8.21.custom.min.js"></script>
<script src="js/jquery.tagcanvas.min.js" type="text/javascript"></script>
<script type="text/javascript" src="js/stopwords.js"></script>
<script type="text/javascript" src="js/lda.js"></script>
<script src="js/index/topicise.js"></script>

<link rel="icon" type="image/png" href="icon.png" />
<link rel="stylesheet" href="vendors/semantic-ui/semantic.min.css" />
<script src="vendors/semantic-ui/semantic.min.js"></script>
<script src="vendors/puli-post-message-api/puli-post-message-api.js"></script>
<script src="vendors/vue/vue.min.js"></script>
<script src="vendors/date-helper.js"></script>
<script src="vendors/js-xlsx/shim.js"></script>
<script src="vendors/js-xlsx/full/suppress_export.js"></script>
<script src="vendors/js-xlsx/full/jszip.js"></script>
<script src="vendors/js-xlsx/full/cpexcel.js"></script>
<script src="vendors/js-xlsx/full/xlsx.js"></script>
<script src="vendors/Porter-Stemmer/PorterStemmer1980.min.js"></script>
<script src="vendors/form-persist.js"></script>
<script src="vendors/jquery.tablesort/jquery.tablesort.js"></script>
<link rel="stylesheet/less" type="text/css" href="css/lda.less" />
<script>less = {env: 'production'};</script>
<script src="vendors/less/less.min.js"></script>

</head>
<body>
  
  <form id="app" 
        class="ui form"
        onsubmit="return false">
  
    <div class="ui grid container"
         v-if="displayPanel === 'topic'">

      <div class="row">
        <div class="twelve wide column">
          <h1 class="ui header">
            Topic Modeling
          </h1>
        </div>
        <div class="right aligned four wide column">
          <!--
          <button 
            class="ui mini icon basic button" 
            v-on:click="$refs.InputConfigFileTrigger.click();">
            <i class="folder open outline icon"></i>
          </button>
          <input 
            type="file" 
            class="input-field" 
            ref="InputConfigFileTrigger"
            id="input_config_file"
            accept=".ods"
            v-on:change="loadConfigFile" />
          -->
        </div>
      </div>
      
      <div class="row">
        <div class="sixteen wide column">
          <div class="field">
            <label>Input Text (A document per line)</label>
            <textarea 
              id="text"
              v-model="inputText"></textarea>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="sixteen centered wide column">
          <div class="inline fields" id="menu">
            <div class="field">
              <label for="topics">Topics</label>
            </div>
            <div class="field">
              <select 
                name="topics" id="topics" 
                class="data-auto-save"
                v-model="configTopicNumber">
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
              </select>
            </div>
            <div class="field">
              <input type="range" min="2" max="10" class="slider" 
                     v-model="configTopicNumber">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="sixteen wide column">   
          <div class="field">
            <button 
              id="btnTopicise" 
              type="button" 
              v-on:click="processOutput"
              class="ui fluid button"
              v-bind:class="{'green': configChanged}">
              Analyse
            </button>
          </div>
        </div>
      </div>

      <div class="row table-row">
        <div class="four wide column table-column"
             v-for="(topic, i) in topicTerms">
          <table class="ui compact table">
            <caption class="center aligned">
              <div class="inline fields">
                <div class="field">
                  <div class="ui header">
                    <span v-bind:class="'color' + i">
                      Topic {{ (i+1) }}
                    </span>
                  </div>
                </div>

                <div class="field">
                  <button type="button"
                          class="ui icon button"
                          v-on:click="drawWordCloud(topic)">
                    <i class="cloud icon"></i>
                  </button>
                  <!--
                  <button type="button"
                          class="ui icon button"
                          v-on:click="copyTopic(topic)">
                    <i class="copy icon"></i>
                  </button>
                  -->
                </div>
              </div>


            </caption>
            <thead>
              <tr>
                <th>Term</th>
                <th>Prob.</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="item in topic">
                <td>{{ item.term }}</td>
                <td>{{ (item.prob / 100) }}%</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- ============================================================= -->
    
    <div class="ui grid container display-panel"
         v-show="displayPanel === 'detail'">
      
      <div class="row">
        <div class="twelve wide column">
          <h1 class="ui header">
            Documents
          </h1>
        </div>
        <div class="right aligned four wide column">
          <button class="ui mini icon basic button"
                    v-on:click="downloadTopicDocument">
            <i class="save outline icon"></i>
          </button>
        </div>
      </div>
      
      <div id="output" class="ui segment">
        <table class="ui unstackable table"
               id="documentTable"
               ref="DocumentTable">
          <thead>
            <tr>
              <th v-for="i in topicNumberArray"
                  class="sortable right aligned">
                T{{ (i+1) }}
              </th>
              <th class="sortable center aligned" 
                  data-sort-default="asc">Prob.</th>
              <th class="sortable" data-sort-default="asc">Document</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(document, documentID) in sortedTopicDocuments">
              <td v-for="(t, i) in document.theta"
                  v-bind:title="'Topic ' + (i+1) + ' theta: ' + displayPercent(t)"
                  v-bind:class="computedDocumentClass(i, document.theta, t)"
                  class="right aligned"
                  v-bind:data-sort-value="t">
                {{ displayPercent(t) }}
              </td>
              <td v-bind:data-sort-value="computedMaxProbTopic(document.theta)">
                <div v-for="(t, i) in document.theta"
                     v-bind:class="'box bgcolor' + i" 
                     v-bind:style="'width:' + parseInt( (t * 100)) + 'px'" 
                     v-bind:title="'Topic ' + (i+1) + ' theta: ' + t"></div>
              </td>
              <td v-bind:data-sort-value="documentID"
                  class="sentence"
                  data-variation="inverted"
                  v-bind:data-content="document.sentence">
                {{ document.sentence }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    
    <!-- ============================================================= -->

    <div class="ui grid container configuration-panel"
         v-if="displayPanel === 'configuration'">
      
      <div class="row">
        <div class="twelve wide column">
          <h1 class="ui header">
            Configuration
          </h1>
        </div>
        <div class="right aligned four wide column">
          
          <button class="ui mini icon basic button"
                    v-on:click="downloadConfiguration">
            <i class="save outline icon"></i>
          </button>
        </div>
      </div>
      
      <div class="row">
        <div class="sixteen wide column">
          <div class="two fields">
            <div class="field">
              <label for="topics">Topics</label>
              <select 
                name="topics" id="topics" 
                class="data-auto-save"
                v-model="configTopicNumber">
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
              </select>
              <input type="range" min="2" max="10" class="slider" 
                     v-model="configTopicNumber">
            </div>
            <div class="field">
              <label>Top N</label>
              <input 
                type="number" 
                name="top"
                class="data-auto-save"
                v-model="configTopN" />
            </div>
          </div>
          
          <div class="three fields">
            <div class="field">
              <label>
                Alpha
              </label>
              <input 
                  type="number" 
                  name="alpha"
                  class="data-auto-save"
                  v-model="configAlpha"
                  step="0.1" />
            </div>
            <div class="field">
              <label>
                Beta
              </label>
              <input 
                type="number" 
                name="beta"
                class="data-auto-save"
                v-model="configBeta"
                step="0.01" />
            </div>
            <div class="field">
              <label>
                Interations
              </label>
              <input 
                type="number" 
                name="configIterations"
                class="data-auto-save"
                v-model="configIterations"
                step="500" />
            </div>
          </div>
          <div class="three fields">
            <div class="field">
              <label>
                Burn In
              </label>
              <input 
                type="number" 
                name="configBurnIn"
                class="data-auto-save"
                v-model="configBurnIn"
                step="500" />
            </div>
            <div class="field">
              <label>
                Thin Interval
              </label>
              <input 
                type="number" 
                name="configThinInterval"
                class="data-auto-save"
                v-model="configThinInterval"
                step="10" />
            </div>
            <div class="field">
              <label>
                Sample Lag
              </label>
              <input 
                type="number" 
                name="configSampleLag"
                class="data-auto-save"
                v-model="configSampleLag" />
            </div>
          </div>
        </div>
      </div>
      
    </div>
    
    <!-- ============================================================= -->

<div class="ui grid container display-panel"
     v-if="displayPanel === 'about'">
  <div class="ui raised segment">
  <div id="titletxt">LDA-Based Topic Modelling in Javascript</div>
  <div id="titledesc"><p>Topic modelling means detecting “abstract” topics from a collection of text documents. The most common text book technique to do that is using Latent Dirichlet Allocation. Simply put, LDA is a statistical algorithm which takes documents as input and produces a list of topics. One catch is that you have to tell it how many topics you want. There’s much more to it but since this is not a tutorial post, I will stop here. (If you are interested in how it works, read the references given on the wiki page.)</p>
  <p><a href="https://github.com/awaisathar/lda.js">Here's</a> a javascript version of LDA, based on my no-longer-functioning <a href="http://chaoticity.com/lda-based-topic-modelling-in-javascript/">earlier work</a>. For testing, I use a subset of the SMS Spam Corpus available <a href="http://www.dt.fee.unicamp.br/~tiago/smsspamcollection/">here</a> (and thus take no responsibility of the inappropriateness of the text within :) ). Each topic is represented as a word cloud; the larger a word, the more weight it has in the topic. The source sentences are displayed again with a bar which shows the percentage distribution of topics for that sentence. Hovering on each area in the bar would show you the words in the topic. You can of course replace it with anyother text, change the number of topics using the slider, and press the 'Analyse' button to see it work.  </p></div>
  </div>
</div>

<!-- ============================================================= -->
<div class="menu-padding"></div>

<div class="ui inverted four item bottom fixed menu">
  <a class="item"
     v-bind:class="{'active': (displayPanel === 'topic')}"
     v-on:click="displayPanel = 'topic'">
    <i class="file alternate icon"></i>
    Topic
  </a>
  <a class="item"
     v-bind:class="{'active': (displayPanel === 'detail'), 'disabled': (sortedTopicDocuments.length === 0)}"
     v-on:click="displayPanel = 'detail'">
    <i class="file alternate icon"></i>
    Document
  </a>
  <a class="item"
     v-bind:class="{'active': (displayPanel === 'configuration')}"
     v-on:click="displayPanel = 'configuration'">
    <i class="cogs icon"></i>
    Configuration
  </a>
  <a class="item"
     v-bind:class="{'active': (displayPanel === 'about')}"
     v-on:click="displayPanel = 'about'">
    <i class="question icon"></i>
    About
  </a>
</div>

<div class="loading-modal" 
     v-if="processOutputWait">
  <img src="css/loading.svg" />
</div>

</form>
  
  <script src="vue-app.js"></script>

</body>
</html>